.cl-form{
    /* border: 2px solid red; */
    /* position: absolute; */
    /* margin-left: 200px; */
    width: 600px;
    /* height: 500px; */
    display: block;
    margin: auto;
    transform: translateY(4rem);
    /* margin-top: -100px; */
    background-color: white;
    padding: 15px ;
border-radius: 25px ;
box-shadow: 0px 0px 12px 4px #c98986;


}
h2{
    text-align: center;
}
input{

    width: 200px !important;
}
.check{
    width: 10px !important;
    margin-right: 10px;
}
.submit-btn{
    border: 1px solid #f0a0bc !important;
    background-color: #f0a0bc !important;
}